<div class="caja">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-5 hidden-xs hidden-sm">

                <img src="../../../assets/img/icon-ut.png" alt="" class="center-block img-fluid" />

            </div>

            <div class="col-md-1 hidden-xs hidden-sm d-md-block d-none">
                <div class="border-login"></div>
            </div>


            <div class="col-sm-12 col-xs-12 col-md-4">
                <div class="space-top">


                    <h3 class="text-center">Hoja de Planeacion</h3>

                    <form class="form-signin" class="form-horizontal">

                        <label class="user"> Usuario: {{usuario.email}} </label>

                        <input type="text" class="form-control" placeholder="" required [(ngModel)]="usuario.email" name="usuario">

                        <label class=""> Contraseña </label>
                        <input type="password" class="form-control" placeholder="" required [(ngModel)]="usuario.password" name="usuario">

                        <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="verificar()">
              Entrar
            </button>

                    </form>
                </div>

                <p class="text-center"> Si no tienes una cuenta. <a data-toggle="modal" (click)="registrar()">
            Registrate</a></p>


                <!-- Modal -->
                <!--   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pandora - Criar conta de acesso!</h4>
              </div>
              <div class="modal-body">
                <form>

                  <div class="form-group">
                    <label class="label-register">Nome</label>

                    <input type="text" class="form-control" id="email" placeholder="Insira seu nome completo">
                  </div>

                  <div class="form-group">
                    <label class="label-register">Usuário</label>

                    <input type="text" class="form-control" id="email" placeholder="Insira nome de usuário">
                  </div>


                  <div class="form-group">
                    <label class="label-register">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Insira seu e-mail!">
                  </div>
                  <div class="form-group">
                    <label class="label-register">Informe a senha</label>
                    <input type="password" class="form-control" id="senha1" placeholder="*****">
                  </div>

                  <div class="form-group">
                    <label class="label-register">Repita a senha</label>
                    <input type="password" class="form-control" id="senha2" placeholder="******">
                  </div>


                </form>
              </div>
              <div class="modal-footer">
                <div class="pull-left">
                  <button type="button" class="btn btn-primary">Salvar</button>

                  <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>

                </div>
              </div>
            </div>
          </div>
        </div> -->

            </div>
        </div>
    </div>
</div>