.titulo {
    margin-top: 10px;
}

.body {
    background: #263238;
    height: 100%;
}

.img {
    margin-top: 0em;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
}

.caja {
    text-align: center;
    width: 500px;
    padding: 1em;
    background: #263238;
    border: solid rgba(255, 255, 255, 0.253);
    color: white;
    margin-left: auto;
    margin-right: auto;
}

#texto {
    font: bold 30px Tahoma
}

.ic {
    margin-right: 10px;
}

#emaile {
    display: none;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 65%;
}