<br>
<ul class="nav nav-tabs"><!--Esta parte es la nav donde el usuario se puede  mover entre las pags de la hoja de ruta.-->
  <li class="nav-item">
    <a class="nav-link active" href=" planeacion ">Planeación de las Áreas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="distribucion-cuatrimestral">Distribución Cuatrimestral de Metas</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link" href="presupuestacion">Presupuesto Estimado</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link" href="#">Ditribución de Gastos en el Año</a>
  </li>

   
</ul><br><br>




<div class="agre" >  
 
 <!--Esta parte es el formulario de llenado de la parte de presupuestacion.-->
<h1 > Agregar Presupuesto Estimado </h1>
<form  class="was-validated"><!--contiene la validación, aparece un mensaje en caso de que este vacio.-->

 <div class="form-group">
    <label for="exampleFormControlSelect1">Actividad</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option></option>
    
    </select>
         <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
  </div>

<div class="form-group">
     <label for="concepto" > Concepto</label>
     <input type="text" class="form-control" id="concepto"name="concepto" [(ngModel)]="model.concepto"  placeholder="Ingrese Concepto" required>
     <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
</div>

<div class="form-group">
     <label for="cog" > COG</label>
     <input type="text" class="form-control" id="cog"name="cog" [(ngModel)]="model.cog" placeholder="Ingrese COG" required>
     <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
</div>


<div class="form-group">
     <label for="costoTotal" > Costo Total</label>
     <input type="text" class="form-control" id="costoTotal"name="costoTotal" [(ngModel)]="model.costoTotal" placeholder="Ingrese Costo Total" required>
     <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
</div>

<!--boton que contiene el metodo de agregado.-->

      <button type="submit" class="btn btn-success" (click)="add()">Guardar</button>

     

 </form>
</div>
 



  <div >
      <!--El usuario podra consultar mediante cards la informacion.-->
      <h1 >Consultar Presupuesto Estimado </h1>

   
      <div class="di2">
      <div class="card" *ngFor="let rutaa of ruta; let i = index">
  
      <div class="card-body">


  <!--Se esta colocando los datos que el usuario ingreso en las card.-->
    <h5 class="card-title">Objetivo Estrategico</h5>
    <p class="card-text">{{rutaa.concepto}}</p>
    <h5 class="card-title">Indicador de Objetivo Estrategico</h5>
    <p class="card-text">{{rutaa.cog}}</p>
    <h5 class="card-title">Meta al Año</h5>
    <p class="card-text">{{rutaa.costoTotal }}</p>
    

   <!--los botones realizaran los metodos de editar y eliminar.-->
   <button type="button"  class="btn btn-info "(click)="edit(i)"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-cog"></i>  Editar</button>
    <button type="button" class="btn btn-danger" (click)="delete(i)" ><i class="fas fa-trash-alt">
    </i>Eliminar</button>
    </div>
    

    </div>

    </div>
  
<!--Se utiliza un modal para el editado de la información.-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

       
<div  class="modal-body">

 <h1>Presupuesto Estimado</h1>

<form  class="was-validated">

 <div class="form-group">
    <label for="exampleFormControlSelect1">Actividad</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option></option>
    
    </select>
         <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
  </div>

<div class="form-group">
     <label for="concepto" > Concepto</label>
     <input type="text" class="form-control" id="concepto"name="concepto" [(ngModel)]="model2.concepto"  placeholder="Ingrese Concepto" required>
     <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
</div>

<div class="form-group">
     <label for="cog" > COG</label>
     <input type="text" class="form-control" id="cog"name="cog" [(ngModel)]="model2.cog" placeholder="Ingrese COG" required>
     <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
</div>


<div class="form-group">
     <label for="costoTotal" > Costo Total</label>
     <input type="text" class="form-control" id="costoTotal"name="costoTotal" [(ngModel)]="model2.costoTotal" placeholder="Ingrese Costo Total" required>
     <div class="valid-feedback">Valido.</div>
     <div class="invalid-feedback">Por favor, rellene este campo.</div>
</div>

<!--Los botones son para guardar la informacion Actualizada y cerrar el modal-->      
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      <button type="submit" class="btn btn-success" (click)= "update()">Actualizar</button><br>

 </form>
</div>

