<app-navbar class="mb-5"></app-navbar>
<h5 class="text-center m-0 p-0 tituloWave">Perfil de usuario</h5>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#00cba9" fill-opacity="1"
    d="M0,256L30,256C60,256,120,256,180,229.3C240,203,300,149,360,144C420,139,480,181,540,197.3C600,213,660,203,720,192C780,181,840,171,900,186.7C960,203,1020,245,1080,266.7C1140,288,1200,288,1260,272C1320,256,1380,224,1410,208L1440,192L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z">
  </path>
</svg>

<div>
    <div class="updatepwd" id="pass" style="display: none;">
        <div class="col-6">


            <div class="row flex-column ">

                <div class="col-12">
                    <div class="datos ">

                        <div class="correo mb-4 text-center">
                            <span class="font-weight-bold" style="font-size: 11px;" id="coloress">{{valid.id}}: </span>
                            <input type="password" class="font-weight-bold" placeholder="" [(ngModel)]="usuario.password" name="usuario">
                        </div>
                        <div class="correo mb-4 text-center" id="confirm" style="display:none; margin: 10%;">
                            <span class="font-weight-bold" style="font-size: 11px;">Confirmar: </span>
                            <input type="password" class="font-weight-bold" placeholder="">
                        </div>
                    </div>
                    <div class="col-12" style="left:50%;">
                        <button type="button" class="btn btn-outline-primary btn-md btn-block " (click)="compararPass()">Validar</button>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="container mt-5 ">
        <div class="row justify-content-around  align-items-center ">
            <div class="col-3  offset-1">
                <img src="../../../assets/img/user.svg" alt="" class="img-tumbnail img-fluid">
            </div>
            <div class="col-6 offset-2   ">
                <div class="container mt-5 p-5  perf " id="pwd2">
                    <div class="row  justify-content-around  align-items-center  ">
                        <div class="col-2  ">
                            <img src="../../../assets/img/user.svg" alt="" class="img-tumbnail img-fluid">
                        </div>
                    </div>

                    <div class="row justify-content-around  align-items-center ">

                        <div class="col-6    ">


                            <div class="row flex-column ">

                                <div class="col-12" *ngFor="let item of datosUser">
                                    <div class="datos ">
                                        <div class="nombre mb-3 text-center">
                                            <span class="font-weight-bold">Nombre: </span>
                                            <span>{{item.nombre}}</span>
                                            <br>
                                        </div>
                                        <div class="nombre mb-3 text-center">
                                            <span class="font-weight-bold">Rol: </span>
                                            <span>{{item.rol}}</span>
                                            <br>
                                        </div>

                                        <div class="departamentos mb-2 text-center" id="departamento">
                                            <span class="font-weight-bold">Departamento/s: </span>

                                            <div class="mb-2" *ngIf="unidadEjec">{{unidadEjec.descripcion |uppercase}}</div>

                                        </div>

                                        <div class="correo mb-4 text-center">
                                            <span class="font-weight-bold">Correo: </span>
                                            <span>{{item.email}}</span>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-12">
                                    <button type="button" class="btn btn-outline-primary btn-md btn-block " data-toggle="modal" data-target=".bd-example-modal-xl">Editar</button>
                                    <button type="button" class="btn btn-outline-primary btn-md btn-block " (click)="contra()">Cambiar contraseña</button>
                                </div>

                            </div>




                        </div>
                    </div>
                </div>



                <!-- Modal -->
                <div class="modal fade bd-example-modal-xl" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarLabel" aria-hidden="true" *ngFor="let item of datosUser">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Configuracion de datos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <fieldset>
                                        <div class="form-group mb-5">
                                            <label for="disabledTextInput">Nombre</label>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="{{item.nombre}}" [(ngModel)]="usuario.nombre" name="usuario">
                                        </div>
                                    </fieldset>
                                    <div class="form-group mb-3">

                                        <label for="disabledTextInput">Departamentos:</label>
                                        <table class="table table-hover table-dark">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Departamento</th>
                                                    <th scope="col">Código</th>
                                                    <th scope="col">Acción</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>Teconologías de la Informacion</td>
                                                    <td>242523452</td>
                                                    <td>
                                                        <button type="button" href="#" class="text-white btn btn-danger ml-3 btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>


                                    </div>


                                    <div class="form-group">
                                        <div class="input-group">
                                            <select name="" id="" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
        <option value="">One</option>
        <option value="">Two</option>
        <option value="">Three</option>
        <option value="">Four</option>
        <option value="">Five</option>
        <option value="">Six</option>
        <option value="">Seven</option>
        <option value="">Eight</option>
        <option value="">Nine</option>
        <option value="">Ten</option>
      </select>
                                            <div class="input-group-append align-self-start">
                                                <button class="btn btn-outline-success" type="button">Agregar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" (click)="update(item._id,usuario)">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>