.thead-green {
    background-color: #00cba9;
    color: white;
}

.icon-remov {
    border: solid #00cba9;
    border-radius: 60%;
    color: #00cba9;
    padding-left: 10%;
    padding-right: 10%;
}

.prueba {
    border: solid 3px #286090;
    ;
}

.actual {
    border: solid 1px white;
}

.actual2 {
    border: solid 1px rgb(0, 128, 0, 0.5);
    ;
}

#display-tab2 {
    display: none;
}

.departamento {
    border: solid black;
}

#men {
    display: none;
    margin: 20%;
}