.thead-green {
    background-color: rgb(0, 128, 0, 0.5);
    color: white;
}

.icon-remov {
    border: solid rgb(0, 128, 0, 0.5);
    ;
    border-radius: 60%;
    color: rgb(0, 128, 0, 0.5);
    ;
    padding-left: 10%;
    padding-right: 10%;
}

.prueba {
    border: solid 3px rgb(0, 128, 0, 0.5);
    ;
}

.actual {
    border: solid 1px white;
}

.actual2 {
    border: solid 1px rgb(0, 128, 0, 0.5);
    ;
}

#display-tab2 {
    display: none;
}