<h2>User List</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Eliminar</th>
        <th scope="col"> Add</th>
      </tr>
    </thead>
    <tbody *ngFor="let el of user.usuarios">
        <tr>
            <th scope="col">{{el.estado}}</th>
            <th scope="col">{{el.email}}</th>
            <th scope="col">{{el.nombre}}</th>
            <th scope="col">{{el.direccion}}</th>
            <th>
            <button class="delete" title="delete product" (click)="deleteUSer(el._id)">Eliminar</button>
            </th>
            <th>
                <button class="Add" title="delete product" (click)="addUser()">Add</button>
            </th>
        </tr>
    </tbody>
  </table>
  