<header class="main-header">
    <i id="toggle-menu" class="fas fa-bars"></i>
    <a class="sesion text-white  text-decoration-none btnSalir" title="Perfil" href="http://localhost:4200/perfil">Usuario </a>
    <a href="http://localhost:4200/login" class="text-white ml-9" title="Salir"><i class="fas fa-sign-out-alt ml-2"></i></a>
</header>


<nav class="main-nav">
    <ul class="main-menu">
        <li><a href="http://localhost:4200/presupuesto"><i class="fas fa-home mr-4"></i> Inicio</a></li>
        <li><a href="http://localhost:4200/admin/add-presupuesto"><i class="fas fa-book mr-4"></i> programa Presupuestario</a></li>
        <li><a href="#"><i class="fas fa-cog mr-4"></i>Configuracion</a></li>
        <li><a href="http://localhost:4200/user"><i class="fas fa-users mr-4 bg-black"></i> Usuarios</a></li>
        <li><a href="#"><i class="fas fa-sign-out-alt mr-4"></i>Salir</a></li>
    </ul>
</nav>
