.main-header {
  height: 3em;
  background: #263238;
  display: flex;
  align-items: center;
  padding: 0 1em;
  color: #fff;

  .toggle-menu {
    padding-left: 1em;
  }
}

#toggle-menu {
  font-size: 1.1em;
  cursor: pointer;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #263238;
  width: var(--ofcanvas);
  height: 100vh;
  transform: translate(-100%);
}

.main-menu {

  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;

  li {
    padding: .5em 1em;
  }

  a {
    text-decoration: none;
    color: #fff;
    display: block;
    line-height: 2;
  }
}
