<header class="main-header">
    <i id="toggle-menu" class="fas fa-bars"></i>
    <a class="sesion" href="http://localhost:4200/login">Cerrar Session</a>
</header>
<hr class="margin">

<nav class="main-nav">
    <ul class="main-menu">
        <li><a href="http://localhost:4200/presupuesto">Inicio</a></li>
        <li><a href="http://localhost:4200/presupuesto">Presupuestos</a></li>
        <li><a href="#">Configuracion</a></li>
        <li><a href="#">Soporte</a></li>
        <li><a href="#">Ayuda</a></li>
        <li><a href="http://localhost:4200/user">Usuario</a></li>
    </ul>
</nav>