.main-header {
    height: 3em;
    background: #00cba9;
    display: flex;
    align-items: center;
    padding: 0 1em;
    color: rgb(255, 255, 255);
    .toggle-menu {
        padding-left: 2em;
        font-size: 2px;
    }
    .toggle-menu {
        padding-left: 1em;
    }
}
.btnSalir{
  transition: all .4s;
}
#toggle-menu {
    font-size: 1.1em;
    cursor: pointer;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00cba9;
    width: var(--ofcanvas);
    height: 100vh;
    transform: translate(-100%);
}

.main-menu {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;

    li {

      a {
        transition: all .4s;
        text-decoration: none;
        color: rgb(245, 245, 245);
        display: block;
        line-height: 2;
      }

        transition: all .4s;
        padding: .5em 1em;
        &:hover{
          box-shadow: inset 5px 0 0 0 var(--light);
          background-color: #00ad91;
          ;
          a{
            transform: translateX(5px);
            color: white;
          }
        }
    }

}

.margin {
    margin: 0;
}

.sesion {
    text-align: end;
    color: blue;
    margin-left: 85%;
    padding:0 .4em;
    background: #354149;
    border-radius: 6px;
    transition: background .4s;
    &:hover{
      background: #12171a;
    }
}
