.tarjeta__img {
  

  &:hover {
    cursor: pointer;
  }
}

.card-header{
  &:hover{
    cursor: pointer;
    .tarjeta__title {
      color: #212529;;
    }
  }
}

.tarjeta__title {
  color: #616161;
  transition: color .1s;

}


.example .pagination>li>a,
.example .pagination>li>span {

  border: 1px solid var(--dark);
}

.pagination>li.active>a {
  background: var(--dark);
  color: #fff;
}
