<app-navbar>
</app-navbar>


<div class="container">

    <div class="row mt-5">

        <div class="col-12  col-md-6">
            <h4 class="text-center text-md-left">Programa Presupuestario</h4>
        </div>
        <div class="col-12  col-md-6 mt-md-0 mt-4 ">
            <div class="row">

                <label for="inputEmail3" class="h4 col-6 col-md-2 col-form-label offset-md-5
"><i class="far fa-calendar-alt"></i>  Año</label>
                <div class="col-6 col-md-5 ">
                    <select class="custom-select text-center" id="validationTooltip04" required>
            <option selected disabled value="" class="text-center">...</option>
            <option>Todos</option>
            <option>2020</option>
            <option>2019</option>
            <option>2018</option>
            <option>2017</option>
          </select>
                </div>
            </div>

        </div>

    </div>

</div>



<table class="row">
    <tbody *ngFor="let el of pp.programas">
        <div class="container mt-4">

            <div class="col">


                <div class="col mb-7">
                    <div class="card text-center ">
                        <div class="card-header">
                            <a href="http://localhost:4200/directriz" class="tarjeta__title h5 text-decoration-none ">
                                <h5 class="card-title ">{{el.descripcion}}</h5>
                            </a>
                        </div>
                        <img src="../../../assets/img/Wolf-.svg" class="tarjeta__img card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text font-weight-normal mb-2  ">Unidad Ejecutora: <span class="text-monospace badge badge-pill badge-dark">Tics</span></p>
                            <p class="font-weight-normal ">Año: <span class="text-monospace badge badge-pill badge-light">2020</span></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link " href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>