<app-navbar></app-navbar>
<!-- Default form contact -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Unidades Ejecutoras</p>

    <!-- Codigo -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Codigo" [(ngModel)]="UnidadEjecuctora.codigo" name="UnidadEjecuctora">

    <!-- Descripcion -->
    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Descripcion" [(ngModel)]="UnidadEjecuctora.descripcion" name="UnidadEjecuctora">


    <!-- Copy -->
    <div class="row">
        <div class="col-md-6 mx-auto d-flex justify-content-center">

        </div>
    </div>


    <!-- Send button -->
    <button mdbBtn color="info" block="true" type="submit" class="btn btn-outline-success" (click)="addUnidadEject()">Send</button>

</form>
<ul class="list-group" *ngFor="let item of listUnidEjec" style="width: 25%; margin-left: 37%;">
    <button style="border: none;">
        <li class="list-group-item list-group-item" style="text-align: center; border: solid #00cba9;">
            {{item.codigo}}:{{item.descripcion}}
        </li>
    <a>
    <button class="btn btn-outline-warning">Eliminar</button>
    <button class="btn btn-outline-success">Actualizar</button>
    </a>
    </button>

</ul>
<!-- Default form contact -->