<app-navbar></app-navbar>
<!-- Default form contact -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Unidades Ejecutoras</p>

    <!-- Codigo -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Codigo" [(ngModel)]="UnidadEjecuctora.codigo" name="UnidadEjecuctora">

    <!-- Descripcion -->
    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Descripcion" [(ngModel)]="UnidadEjecuctora.descripcion" name="UnidadEjecuctora">


    <!-- Copy -->
    <div class="row">
        <div class="col-md-6 mx-auto d-flex justify-content-center">

        </div>
    </div>


    <!-- Send button -->
    <button mdbBtn color="info" block="true" type="submit" class="btn btn-outline-success" (click)="addUnidadEject()">Send</button>

</form>
<div>
    <ul class="list-group" *ngFor="let item of listUnidEjec |paginate: paginationConfig" style="width: 25%; margin-left: 37%;">
        <button style="border: none;">
        <li class="list-group-item list-group-item" style="text-align: center; border: solid #00cba9;">
            {{item.codigo| uppercase}},{{item.descripcion|uppercase}}
        </li>
    <a>
    <button class="btn btn-outline-warning" (click)="eliminarUnidad(item._id)">Eliminar</button>
        <button class="btn btn-outline-success">Actualizar</button>
        </a>
        </button>

    </ul>
    <div class="col-12 mt-3 d-flex justify-content-center">
        <pagination-template #p="paginationApi" [id]="paginationConfig.id" [maxSize]="maxSizePagination" autoHide="true" (pageChange)="paginationConfig.currentPage = $event">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li [className]="p.isFirstPage() ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" (click)="p.previous()" href="#" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li *ngFor="let page of p.pages" [className]="
      p.getCurrent() === page.value
        ? 'page-item disabled'
        : 'page-item'
    ">
                        <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
      {{ page.label }}
    </a>
                        <a class="page-link" *ngIf="p.getCurrent() === page.value">
      {{ page.label }}
    </a>
                    </li>
                    <li [className]="
      p.isLastPage() ? 'page-item disabled' : 'page-item disabled'
    ">
                        <a class="page-link" href="#" (click)="p.next()" aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </pagination-template>
    </div>

</div>
<!-- Default form contact -->