/* You can add global styles to this file, and also import other style files */
:root {
  --ofcanvas: 30vw;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;

}

body {
  transition: transform .2s;
  margin: 0;

  &.translate {
    transform: translate(var(--ofcanvas));
  }

  &.overflow-hidden {
    overflow: hidden;
  }
}
