
  .te{
    text-align: center;
    color: white;
  
    
  }
  
  
  
  .alert{
  width:200px;
  }
  
  
  
  .border{
      border-radius: 20px;
      border: 12px;
  }
  
  .card-title{
  color :#626567  ;
  font-weight: bold;
  font-size: 18px;
  margin: 2px;
}

.card-text{
  margin: 3px;
  color :#212121  ;
  font-size: 16px;

}

.card{
  margin:24px;
  border-radius: 15px;
  border-color: #BEBEC1   ;
}

.btn {
  margin:10px;
}

.agre{
  margin: 360px;
  margin-top: 50px;
  margin-bottom: 30px;
  
}



.act{
  margin:  360px;
  margin-top: 30px;
  margin-bottom: 12px;
}

label{
color: #353435  ;
margin:5px;
font-weight: bold;
font-size: 16px;
}
.di2{
  margin: 200px;
  margin-top: 13px;
}
buttun{
  margin:10px;
}

.pru{
  margin-top: 100px;
  
}