.footer{
background: #01C99D;
background: -webkit-linear-gradient(top, #01C99D, #01CCA0);
background: -moz-linear-gradient(top, #01C99D, #01CCA0);
background: linear-gradient(to bottom, #01C99D, #01CCA0);

  position: absolute;
  width: 100%;
  text-align: center;
  padding: 2em 0;


  h6{

    position: relative;

    top: -30px;
  }

}

